body{
    background-image: url(../images/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    font-family: 'Silkscreen', monospace;
    color: #f3f3f3;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
}

.card{
    background-color: #041525;
    width: 400px;
    border: 2px solid #29f5d3 ;
    border-radius: 10px;
    overflow: hidden;
}

.abas img{
    width: 30px;
}
.card .info{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.card .info img{
    width: 96px;
    height: 96px;
    border-radius: 50px;
    border: 2px solid #29f5d3;

}
.card .info .name{
    font-size: 26px;
}
.card .info .cargo{
    font-size: 18px;
    color: #b8bbc5;
}
.card .content{
    margin-top: 15px;
}
.card .abas{
    display: flex;
}
.card .abas .aba{
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
.card .abas .aba.selected{
    background-color: #242c31;
}
.card .info-abas{
    background-color: #242c31;
}
.card .abas .aba:hover{
    background-color: #3a484d;
}
.info-abas .informacao{
    min-height: 260px;
    padding: 15px;
    display: none;
}
.info-abas .informacao.selected{
    display: contents;
    
}

.info-abas .sub-title{
    font-size: 22px;
    margin-bottom: 25px;
    text-align: center;
}
.info-abas .description{
    font-size: 20px;
    max-height: 200px;
    overflow-y: auto;
    padding-right: 15px;
}
.info-abas .description span{
    color: #29f5d3;
}
.social{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    padding-bottom: 30px;
    max-height: 1480px;
    overflow-y: auto;
}

.social li a{
    background-color: #29f5d3;
    width: 250px;
    display: block;
    color: #f3f3f3;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    transition: opacity 0.3s ease-in-out;
}
.social li a:hover{
    opacity: 0.8;
}

.social .linkedin{
    background-color: #1d87bd;
}
.social .github{
    background-color: #545454;
}